.Rproj.user
.Rhistory
.RData
.Ruserdata
*archive/
*docs/
*posted18/
*.pdf
*output/
**arch/
*.tsv
*.xlsx
*Ramon*
data/stored_SAS_download.RData
data/web_files_FR/
national_provincial_summaries.RData
data/allkill.RData
data/z*

